<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
</head>
<body>
  <h1>Favorite Recipes</h1>
  {% if current_user.is_authenticated %}
    {% if current_user.favorites %}
      <ul>
        {% for recipe in current_user.favorites %}
          <li><a href="#">{{ recipe.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You have no favorited recipes.</p>
    {% endif %}
  {% else %}
    <p>You must be logged in to view your favorites.</p>
  {% endif %}
</body>
</html>
