<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="register">
  <h1>Register</h1>
  <form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="allergies">Allergies<br>(to select more than one press Command)</label>
    <select name="allergies" id="allergies" multiple>
      {% for allergy in all_allergies %}
        <option value="{{ allergy }}">{{ allergy }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit">Register</button>
  </form>
</body>
</html>
